@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}



.shimmer-wrapper {
  display: block;
  height: 20px;
  width: 100px;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #eeeeee 0%, #dddddd 20%, #eeeeee 40%, #eeeeee 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
}